body{
	height: 1350px;
    width: 1440px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #E5E5E5;
    display: inline-block;
}
.Number-Search,.Registration,.Number-summ,.Calendar,.Entrance{
	position: absolute;
	height: 373px;
	width:378px;
	background: white;
	border-radius: 4px;
	box-shadow: 0px 0px 24px 1px rgba(31, 32, 65, 0.25)
}
.Number-Search{
	left: 140px;
	top: 150px;
}
.Number-summ{ 
	bottom: 308px;
	left: 560px;
	height: 510px;
}
.Calendar{ 
	bottom: 450px;
	left: 980px;
    height: 368px;
	width:320px;
	outline: 1px solid rgba(31, 32, 65, 0.25);
	box-shadow: none;
}
.Registration{  
	left: 140px;
	top: 565px;
	height: 645px;
}
.Entrance{
	height: 355px;
	left: 560px;
	top: 705px;
}