  .Nav-Bar{
	 width: 2872px;
	 height: 140px;
	 background: none;
  }
  .Nav-Bar_1{
   	 width: inherit;
	 height: inherit;
	 background: white;
      transform: translate(0,272px);
  }
   .Nav-Bar_1_Menu, li{
      margin-right: 34px;
 	 font-family: 'Montserrat', sans-serif;
  	 display: inline-block;
  	 font-size: 28px;
  	 transform: translate(506px,12px);   
  }  
     .TXT-Bold{
       font-weight: 700;
     }

     .Check-Mark{
      margin-right: 25px;
      transform: translateX(10.5px);
     }

     .Check-Mark-2{
      margin-right: 25px;
     }

     .Nav-Bar_1_Logo{
       transform: translate(272px,-58px);
     }


     .Nav-Bar_2{
   	  width: inherit;
	  height: inherit;
	  background: white;
       transform: translate(0,350px);
     }
  .Footer-bar_widgest{
  	 width: 2872px;
     height: 744px;
     transform: translate(0,570px);
     background: white;
   }
   .Footer-bar_copyright{
  	 width: 2872px;
     height: 139px;
     transform: translate(0,572px);
     background: white;
  }
  .Footer-bar_mobile{
  	 width: 1536px;
     height: 733px;
     transform: translate(664px,655px);
     background: white;
  }

   







  